---
---
<div class="who-am-i-section">
  <h2 class="who-am-i-heading">who am i?</h2>
  <div class="card">
    <h3>hi, i'm gurvansh.</h3>
    <p>cs student and game dev. i like building things that are a bit too ambitious be it linux utilities, ai engines or game loops in unity and godot. somewhere between low-level C++ and vivid full-stack apps. always trying to make complex ideas work (and actually doing it).</p>
  </div>
  <div class="check-out-row">
    <span>check out</span>
    <button onclick="window.location.href='/resume'">Resume</button>
  </div>
</div>
